:root {
    --primary-color: #0f1729;
    --background-color: #F8F6FF;
    --gradient-primary: linear-gradient(135deg, hsl(212 100% 45%) 0%, hsl(228 100% 55%) 50%, hsl(260 100% 60%) 100%);
    --secondary-color: #006BE6;
    --grey-color: #65758B;
    --background-widget: #DFE8FC;
    --background-logo: #0F57F4;
}